.quiz-page-container .my-quizzes-page-container {
  margin: 0 7%;
  margin-top: 40px; }

.quiz-page-container .row {
  margin-right: 0;
  margin-left: 0; }

.quiz-page-container.container {
  max-width: 1500px; }
