.quiz-page-container {
    .my-quizzes-page-container {
        margin: 0 7%;
        margin-top: 40px;
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .server-message {
        box-shadow: 0 0 1px 1px #ff4343;
        color: #ff4343;
    }
}

.quiz-page-container.container {
    max-width: 1500px;
}