.quiz-item-container{
    width: 20%;
    height: auto;
    position: relative;
}

.quiz-title{
    margin-top: 20px;
    font-family: 'ariblk';
    font-size: 16px;
    color: #77a8b7;
    font-weight: bold;
}

.quiz-photo{
    border: 12px solid white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    .quiz-item-container{
        width: 50%;
        height: auto;
    }
}
