.quiz-item-container {
  width: 222%;
  height: auto;
  position: relative;
  margin-top: 1em; }
  .quiz-item-container.selected-for-deletion {
    z-index: 100; }
    .quiz-item-container.selected-for-deletion .manage-quiz {
      z-index: 1;
      opacity: 1;
      width: 100%;
      height: 100%; }
  .quiz-item-container .quiz-title {
    font-family: 'ariblk';
    font-size: 16px;
    color: #77a8b7;
    font-weight: bold;
    position: relative;
    padding-top: 0.6em;
    z-index: 2; }
  .quiz-item-container .quiz-photo-container {
    width: 110px;
    height: 110px;
    margin: auto;
    position: relative;
    z-index: 1; }
    .quiz-item-container .quiz-photo-container .quiz-photo {
      border: 12px solid white;
      box-sizing: border-box;
      border-radius: 50%;
      width: 100%;
      height: 100%; }
      .quiz-item-container .quiz-photo-container .quiz-photo:hover ~ .manage-quiz,
      .quiz-item-container .quiz-photo-container .quiz-photo:active ~ .manage-quiz {
        z-index: 1;
        opacity: 1;
        width: 100%;
        height: 100%; }
    .quiz-item-container .quiz-photo-container .manage-quiz:hover, .quiz-item-container .quiz-photo-container .manage-quiz:active {
      z-index: 1;
      opacity: 1;
      width: 100%;
      height: 100%; }
  @media screen and (min-width: 300px) {
    .quiz-item-container {
      width: 50%; } }
  @media screen and (min-width: 500px) {
    .quiz-item-container {
      width: 33.3%; } }
  @media screen and (min-width: 800px) {
    .quiz-item-container {
      width: 25%; } }
  @media screen and (min-width: 1000px) {
    .quiz-item-container {
      width: 20%; } }
