.snackbar {
    width: 80%;
    max-width: 350px;
    display: flex;
    border-radius: 5px;
    background-color: #00333E;
    font-family: SANS-SERIF;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    color: #F2C200;
    position: fixed;
    transition: bottom 0.4s ease-out 0.15s, opacity 0.35s ease-in 0.1s;
    z-index: 9999;
}

.snackbar.bottom-center.showFunc{
    bottom: 25px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
}
.snackbar.bottom-center{
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.snackbar.top{
    top: 20px;
}

.snackbar.error {
    box-shadow: 0 0 4px 2px #fa2500;
    color: #fff;
}

.snackbar.success {
    box-shadow: 0 0 4px 2px #1dbe0f;
    color: #fff;
}

.snackbar .message{
    text-align: center;
    flex-grow: 1;
}

.snackbar .action-btn{
    font-size: 16px;
    margin-left: 10px;
    border-radius: 7px;
    color: #fff;
    background: transparent;
    border: 0;
    text-transform: uppercase;
}

.snackbar.error .action-btn {
    color: #ffffff;
    border: 1px solid #fff;
    padding: 2px 5px;
}

.snackbar.error .action-btn:hover {
    color: #ff4422;
    border: 1px solid #ff4422;
    padding: 2px 5px;
}

.snackbar.error .action-btn:active {
    color: #ff4422;
    border: 1px solid #ff4422;
    background: #ff7158;
}

.snackbar.success .action-btn {
    display: none;
}
