.connect-game-container .player-photo {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: auto; }

.connect-game-container .player-name {
  font-size: 30px;
  font-weight: normal;
  top: 20px; }

.connect-game-container .player-container {
  max-width: 208px;
  margin-bottom: 20px; }

.connect-game-container .photo {
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%; }

.connect-game-container .center-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 500px; }

.connect-game-container .connectgame-players-container {
  display: flex;
  justify-content: center;
  height: 220px;
  margin-top: 100px; }

.connect-game-container .connectgame-main-label {
  position: relative;
  font-size: 100px;
  color: #f0cc04;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  font-weight: normal;
  top: 104px; }

.connect-game-container .connectgame-status-label {
  position: relative;
  font-size: 60px;
  color: #6AB9C5;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  font-weight: normal;
  top: 104px; }

@media screen and (max-width: 1100px) {
  .connect-game-container .player-photo {
    margin-top: 30px; }
  .connect-game-container .player-name {
    font-size: 40px; }
  .connect-game-container .center-container {
    width: 600px; }
  .connect-game-container .connectgame-players-container {
    margin-top: 120px; }
  .connect-game-container .connectgame-status-label {
    font-size: 60px;
    top: 364px; } }

@media screen and (max-width: 800px) {
  .connect-game-container .player-photo {
    width: 150px;
    height: 150px;
    margin-top: 20px; }
  .connect-game-container .player-name {
    font-size: 30px;
    font-weight: normal;
    top: 20px; }
  .connect-game-container .player-container {
    max-width: 158px; }
  .connect-game-container .photo {
    width: 150px;
    height: 150px; }
  .connect-game-container .center-container {
    width: 300px; }
  .connect-game-container .connectgame-players-container {
    margin-top: 120px; }
  .connect-game-container .connectgame-status-label {
    font-size: 60px;
    top: 204px; } }

@media screen and (max-width: 600px) {
  .connect-game-container .player-photo {
    margin-top: 30px; }
  .connect-game-container .player-name {
    font-size: 34px; }
  .connect-game-container .center-container {
    width: 300px; }
  .connect-game-container .connectgame-players-container {
    margin-top: 120px; }
  .connect-game-container .connectgame-main-label {
    font-size: 50px; }
  .connect-game-container .connectgame-status-label {
    font-size: 24px;
    top: 164px; } }

@media screen and (max-width: 400px) {
  .connect-game-container .player-photo {
    margin-top: 30px; }
  .connect-game-container .player-name {
    font-size: 40px; }
  .connect-game-container .center-container {
    width: 300px; }
  .connect-game-container .connectgame-players-container {
    margin-top: 30px; }
  .connect-game-container .connectgame-main-label {
    font-size: 50px;
    top: 20px; }
  .connect-game-container .connectgame-status-label {
    font-size: 24px;
    top: 80px; } }

@media screen and (max-width: 350px) {
  .connect-game-container .player-photo {
    width: 90px;
    height: 90px;
    margin-top: 50px; }
  .connect-game-container .player-name {
    font-size: 30px; }
  .connect-game-container .player-container {
    max-width: 98px;
    top: 50px; }
  .connect-game-container .photo {
    width: 90px;
    height: 90px; }
  .connect-game-container .center-container {
    width: 300px; }
  .connect-game-container .connectgame-players-container {
    margin-top: 50px; }
  .connect-game-container .connectgame-main-label {
    font-size: 50px;
    top: 20px; }
  .connect-game-container .connectgame-status-label {
    font-size: 24px;
    top: 4px; } }

.connect-game-container .spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center; }

.connect-game-container .spinner > div {
  width: 18px;
  height: 18px;
  background-color: #f0cc04;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.connect-game-container .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.connect-game-container .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
