.play-game-container .center-container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 800px; }

.play-game-container .playgame {
  position: relative;
  font-size: 50px;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  font-weight: normal;
  width: 800px;
  border: none; }

.play-game-container .form-label {
  justify-content: center;
  display: flex; }

@media screen and (max-width: 1500px) {
  .play-game-container .center-container {
    width: 1000px; } }

@media screen and (max-width: 1100px) {
  .play-game-container .center-container {
    width: 1000px; }
  .play-game-container .playgame {
    font-size: 50px;
    width: 800px; } }

@media screen and (max-width: 800px) {
  .play-game-container .center-container {
    width: 600px; }
  .play-game-container .playgame {
    font-size: 30px;
    width: 600px; } }

@media screen and (max-width: 600px) {
  .play-game-container .center-container {
    width: 80%; }
  .play-game-container .playgame {
    font-size: 22px;
    width: 300px; } }

@media screen and (max-width: 400px) {
  .play-game-container .center-container {
    width: 300px; }
  .play-game-container .playgame {
    font-size: 22px;
    width: 280px; } }

@media screen and (max-width: 350px) {
  .play-game-container .center-container {
    width: 300px; } }
