.play-game-container {
    .center-container {
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 800px;
    }
    .playgame {
        position: relative;
        font-size: 50px;
        font-family: 'dk_lemon_yellow_sunregular';
        text-align: center;
        font-weight: normal;
        width: 800px;
        border: none;
    }
    @media screen and (max-width: 1500px) {
        .center-container {
            width: 1000px;
        }
    }
    @media screen and (max-width: 1100px) {
        .center-container {
            width: 1000px;
        }
        .playgame {
            font-size: 50px;
            width: 800px;
        }
    }
    @media screen and (max-width: 800px) {
        .center-container {
            width: 600px;
        }
        .playgame {
            font-size: 30px;
            width: 600px;
        }
    }
    @media screen and (max-width: 600px) {
        .center-container {
            width: 80%;
        }
        .playgame {
            font-size: 22px;
            width: 300px;
        }
    }
    @media screen and (max-width: 400px) {
        .center-container {
            width: 300px;
        }
        .playgame {
            font-size: 22px;
            width: 280px;
        }
    }
    @media screen and (max-width: 350px) {
        .center-container {
            width: 300px;
        }
    }
}