.center-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.players-container{
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 20px;
}

.code-form{
    justify-content: center;
}

.code-label{
    position: relative;
    font-size: 70px;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
}

.home-button{
    top: 20px;
    width: 250px;
    height: 240px;
}

.code{
    background-color: #ffffff;
    color: #115057;
    font-size: 50px;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
}

.start-button{
    position: fixed;
    top: 70px;
}

.cancel-button{
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 800px){
    .home-button{
        width:150px;
        height:240px;
    }
    
    .code-label{
        position: relative;
        font-size: 40px;
        font-family: 'dk_lemon_yellow_sunregular';
        text-align: center;
    }

    .center-container{
        width: 200px;
    }
}


@media screen and (max-width: 500px){
    .home-button{
        width:130px;
        height:140px;
    }
    
    .code-label{
        position: relative;
        font-size: 30px;
        font-family: 'dk_lemon_yellow_sunregular';
        text-align: center;
    }

    .code{
        font-size: 30px;
    }

    .center-container{
        width: 200px;
    }

    .players-container{
        display: flex;
        justify-content: center;
        height: 60px;
    }
}

@media screen and (max-width: 400px){
    .home-button{
        width:130px;
        height:140px;
    }
    
    .code-label{
        position: relative;
        font-size: 30px;
        font-family: 'dk_lemon_yellow_sunregular';
        text-align: center;
    }

    .code{
        font-size: 30px;
    }

    .center-container{
        width: 200px;
    }

    .players-container{
        display: flex;
        justify-content: center;
        height: 120px;
        margin-top: 20px;
    }
}


@media screen and (max-width: 330px){
    .home-button{
        width:80px;
        height:90px;
    }
    
    .code-label{
        position: relative;
        font-size: 25px;
        font-family: 'dk_lemon_yellow_sunregular';
        text-align: center;
    }

    .code{
        font-size: 25px;
    }

    .center-container{
        width: 130px;
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
    }

    .players-container{
        height: 60px;
        margin-top: 10px;
        margin: 0 2px;
    }
}



