.center-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

.players-container{
    display: flex;
    justify-content: center;
    height: 120px;
    margin-top: 20px;
}

.code-form{
    justify-content: center;
}

.code-label{
    position: relative;
    font-size: 70px;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
}

.home-button{
    top: 100px;
    width: 250px;
    height: 340px;
}

.code{
    background-color: #ffffff;
    color: #115057;
    font-size: 50px;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
}

.play-button{
    position: fixed;
    top: 40px;
    right: 40px;
}

@media screen and (max-width: 800px){
    .home-button{
        width:150px;
        height:240px;
    }
    
    .code-label{
        position: relative;
        font-size: 40px;
        font-family: 'dk_lemon_yellow_sunregular';
        text-align: center;
    }

    .center-container{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }
}



