.cancel-button {
    border: 2px solid #f0cc04;
    background-color: Transparent;
    width:170px;
    height:50px;
    font-size: 30px;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
    color: #f0cc04;
    display: block;
    transition: all 0.2s linear;
}

.cancel-button:hover {
    transform: translateY(3px);
}
.cancel-button:active {
    transform: translateY(5px);
}

@media screen and (max-height: 800px){
    .cancel-button{
        width: 70px;
        height: 50px;
        font-size: 10px;
    }
}

@media screen and (max-width: 500px){
    .cancel-button{
        width: 60px;
        height: 30px;
        font-size: 10px;
    }
}