.reset-password-container {
  margin: 3% auto 0 auto; }
  .reset-password-container .form-container {
    border: 2px solid #5db9c5; }
  @media screen and (max-width: 450px) {
    .reset-password-container {
      width: 95%; } }
  .reset-password-container .submit-button {
    margin: 50px 0; }
  .reset-password-container .yellow-bg-message {
    margin: 0 auto 2% auto;
    background-color: #f0cc04;
    height: 1.4em;
    color: #115057;
    font-size: 30px;
    font-weight: 600;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
    user-select: none; }
  .reset-password-container .message {
    padding: 7px;
    margin: 0 7% 3% 7%;
    border: 1px solid transparent;
    border-radius: 4px; }
  .reset-password-container .error-message {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442; }
  .reset-password-container .success-message {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d; }
  @media screen and (max-width: 450px) {
    .reset-password-container .update-message {
      font-size: 20px;
      margin: 10px; } }
