
.loginButton {
    border: 2px solid #f0cc04;
    background-color: Transparent;
    padding: 4px 16px;
    font-size: 24px;
    color: #f0cc04;
    font-family: dkLemon;
    position:fixed; 
    top:20px; 
    right:40px;
}

.loginButton:active {
    transition: All 1s ease;
    transform: translateY(4px);
}

@font-face{
    font-family: dkLemon;
    src: url("DKLemon.otf");
}

.submitButton {
    border-radius: 50%;
    border: none;
    width:70px;
    height:70px;
    background: transparent url(./checkmark.png) no-repeat;
    background-size: 100%;
}

.submitButton:active {
    transition: All 1s ease;
    transform: translateY(4px);
}


.homeButton {
    border-radius: 50%;
    border: none;
    width:100px;
    height:100px;
    background: transparent url(./home.png) no-repeat;
    background-size: 100%;
    position: relative; 
}

.homeButton:active {
    transition: All 1s ease;
    transform: translateY(4px);
}

.logo {
    border: none;
    width: 180px;
    height: 80px;
    background: transparent url(./logo.png) no-repeat;
    background-size: 100%;
    position:fixed; 
    bottom:0; 
    left:0;
}

.defaultStyle {
    background-image: url(./background.png) no-repeat;
    text-align: center;
}

.panel-body {
    background-color: #f0cc04;
    border: 2px solid  #f0cc04;
    width: 400px;
    height: 30px;
    color: #115057;
    text-align: center;
    font-size: 24px;
    font-family: dkLemon;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.formDiv {
    width: 400px;
    height: 500px;
    margin: auto;

    border: 2px solid rgb(5, 211, 238);
    margin-top: 6px;
}

.subFormDiv {   

}