.switch-button {
    border: 2px solid #f0cc04;
    background-color: Transparent;
    padding: 4px 16px;
    font-size: 24px;
    color: #f0cc04;
    font-family: "dk_lemon_yellow_sunregular";
    position: absolute; 
    top:20px; 
    right:40px;
    transition: All 0.2s linear;
    z-index: 10;

}

.switch-button:active {
    transform: translateY(3px);
    box-shadow: inset 0 0 12px 4px rgba(53, 53, 53, 0.149)
}

.switch-button:hover, .switch-button:active {
    background: #f0cc04;
    color: black;
}