.switchButton {
    border: 2px solid #f0cc04;
    background-color: Transparent;
    padding: 4px 16px;
    font-size: 24px;
    color: #f0cc04;
    font-family: "dk_lemon_yellow_sunregular";
    position: absolute; 
    top:20px; 
    right:40px;
}

.switchButton:active {
    transition: All 1s ease;
    transform: translateY(4px);
}