.show-header{
    margin: 15px 60px;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .show-quiz{
        .profile-picture{
            transform: scale(0.8);
            border: 5px solid #fff;
        }
        .my-profile-name{
            margin-left: 5px;
        }
    }

    .show-timer{
        display: flex;
        align-items: center;

        .time-counter{
            margin-right: 5px;
            font-size: 50px;

            &.red{
                color: #f54211;
            }
        }

        #clock{
            transform: scale(0.7);
        }
    }
}