.start-button {
    border-radius: 50%;
    border: none;
    width:150px;
    height:150px;
    background: transparent url(./../../../media/startgame.png) no-repeat;
    background-size: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    transition: all 0.2s linear;
    top: 40px;
}

.start-button:hover {
    transform: translateY(3px);
}
.start-button:active {
    transform: translateY(5px);
}

@media screen and (max-width: 800px){
    .start-button{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 500px){
    .start-button{
        width: 80px;
        height: 80px;
        top: 240px;
    }
}

@media screen and (max-width: 330px){
    .start-button{
        top: 200px;
    }
}

