@import url('fonts/fonts.css'); 
@import url('fonts/fontello-embedded.css'); 
html {
   height: 100%;
}

body {
   background: url('./media/background.png');
   color: white;
}

.App {
  text-align: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

@media screen and (max-width: 800px) {
  body {
    background: url('./media/background.png');
 }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
