.not-found {
    font-family: 'dk_lemon_yellow_sunregular';
    color: #F2C200;
    font-size: 25px;
    text-align: center;
}

.very-large{
    font-size: 2em;
    font-weight: 500;
}

.large {
    font-size: 1.8em;
}

.small {
    font-size: 1em;
}

#not-found-image{
    background: url('./../../media/not-found.png') no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
}

.not-found footer {
   position: absolute;
   bottom: 0;
   height: 71px;
}

@media screen and (max-width: 500px){
    .not-found {
        font-size: 20px;
        padding: 5px;
    }
}