.main-ranking-page {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   font-family: "dk_lemon_yellow_sunregular", sans-serif;
   font-size: 25px;
   .winning-player-item:nth-child(1),
   .winning-player-item:nth-child(3) {
      margin-top: 50px;
   }
   @media screen and (min-width: 500px) {
      .winning-player-item:nth-child(1),
      .winning-player-item:nth-child(3) {
         margin-top: 80px;
      }
   }
   @media screen and (min-width: 900px) {}
}

.main-ranking-page-container {
   .home-button {
      width: 100px;
      height: 100px;
      @media screen and (min-width: 1000px) {
         width: 120px;
         height: 120px;
      }
   }
   .winning-player-item:nth-child(2) {
      margin-top: 10px;
   }
}