.homeButton {
    border-radius: 50%;
    border: none;
    max-width:150px;
    height:150px;
    width: 50%;
    background: transparent url(./../../media/home.png) no-repeat;
    background-size: 100%;
    position: relative; 
}

.homeButton:active {
    transition: All 1s ease;
    transform: translateY(4px);
}