.homeButton {
    border-radius: 50%;
    border: none;
    width:150px;
    height:150px;
    background: transparent url(./../../../media/home.png) no-repeat;
    background-size: 100%;
    position: relative; 
}

.homeButton:active {
    transition: All 1s ease;
    transform: translateY(4px);
}

@media screen and (max-height: 800px){
    .homeButton{
        width: 100px;
        height: 100px;
    }
}