.player-rank-container .participant-label {
  font-size: 50px;
  font-weight: normal;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  top: 20px;
  color: #ffffff;
  position: relative; }

.player-rank-container .participant-name-label {
  font-size: 50px;
  font-weight: normal;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  top: 20px;
  color: #f0cc04;
  position: relative;
  left: 30px; }

.player-rank-container .prize-helmet {
  position: relative;
  top: 100px;
  width: 100px;
  height: 100px; }

.player-rank-container .player-profile {
  width: 200px;
  height: 200px;
  border: 10px solid white;
  border-radius: 50%;
  position: relative;
  top: 120px; }

.player-rank-container .place-out-of {
  font-size: 50px;
  font-weight: normal;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  color: #f0cc04;
  position: relative;
  top: 120px; }

.player-rank-container .message {
  font-size: 70px;
  font-weight: normal;
  font-family: 'dk_lemon_yellow_sunregular';
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 200px; }

@media screen and (max-width: 1200px) {
  .player-rank-container .participant-label {
    font-size: 50px;
    top: 20px; }
  .player-rank-container .participant-name-label {
    font-size: 50px;
    top: 20px;
    left: 140px; }
  .player-rank-container .prize-helmet {
    position: relative;
    top: 80px;
    width: 150px;
    height: 150px; }
  .player-rank-container .player-profile {
    width: 200px;
    height: 200px;
    top: 100px; }
  .player-rank-container .place-out-of {
    font-size: 70px;
    top: 120px; }
  .player-rank-container .message {
    font-size: 90px;
    top: 500px; } }

@media screen and (max-width: 800px) {
  .player-rank-container .participant-label {
    font-size: 50px;
    top: 20px; }
  .player-rank-container .participant-name-label {
    font-size: 50px;
    top: 20px;
    left: 120px; }
  .player-rank-container .prize-helmet {
    position: relative;
    top: 80px;
    width: 100px;
    height: 100px; }
  .player-rank-container .player-profile {
    width: 150px;
    height: 150px;
    top: 100px; }
  .player-rank-container .place-out-of {
    font-size: 60px;
    top: 120px; }
  .player-rank-container .message {
    font-size: 80px;
    top: 300px; } }

@media screen and (max-width: 500px) {
  .player-rank-container .participant-label {
    font-size: 30px;
    top: 20px; }
  .player-rank-container .participant-name-label {
    font-size: 30px;
    top: 20px;
    left: 70px; }
  .player-rank-container .prize-helmet {
    position: relative;
    top: 80px;
    width: 70px;
    height: 70px; }
  .player-rank-container .player-profile {
    width: 100px;
    height: 100px;
    top: 100px; }
  .player-rank-container .place-out-of {
    font-size: 40px;
    top: 120px; }
  .player-rank-container .message {
    font-size: 50px;
    top: 300px; } }

@media screen and (max-width: 400px) {
  .player-rank-container .participant-label {
    font-size: 20px;
    top: 20px; }
  .player-rank-container .participant-name-label {
    font-size: 20px;
    top: 20px;
    left: 50px; }
  .player-rank-container .prize-helmet {
    position: relative;
    top: 80px;
    width: 70px;
    height: 70px; }
  .player-rank-container .player-profile {
    width: 100px;
    height: 100px;
    top: 100px; }
  .player-rank-container .place-out-of {
    font-size: 40px;
    top: 120px; }
  .player-rank-container .message {
    font-size: 50px;
    top: 200px; } }

@media screen and (max-width: 350px) {
  .player-rank-container .participant-label {
    font-size: 30px;
    top: 20px; }
  .player-rank-container .participant-name-label {
    font-size: 30px;
    top: 20px;
    left: 90px; }
  .player-rank-container .prize-helmet {
    position: relative;
    top: 80px;
    width: 70px;
    height: 70px; }
  .player-rank-container .player-profile {
    width: 100px;
    height: 100px;
    top: 100px; }
  .player-rank-container .place-out-of {
    font-size: 40px;
    top: 120px; }
  .player-rank-container .message {
    font-size: 50px;
    top: 150px; } }

@media screen and (max-height: 1800px) {
  .player-rank-container .message {
    top: 800px; } }

@media screen and (max-height: 1400px) {
  .player-rank-container .message {
    top: 600px; } }

@media screen and (max-height: 1100px) {
  .player-rank-container .message {
    top: 450px; } }

@media screen and (max-height: 1000px) {
  .player-rank-container .message {
    top: 300px; } }
