.start-quiz {
  font-family: 'dk_lemon_yellow_sunregular';
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  font-size: 27px;
  /* align-items: center; */ }
  .start-quiz .form-group {
    margin: 0;
    padding: 0; }
    .start-quiz .form-group .form-label {
      display: none; }
  .start-quiz #title, .start-quiz #upload {
    margin-bottom: 1.2em; }
  .start-quiz .circle-btn,
  .start-quiz .submit-button {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    flex-shrink: 0; }
  .start-quiz #quiz-title {
    background-color: #00333E;
    border: 0;
    border-radius: 0;
    color: #fff;
    line-height: 37px;
    font-size: 27px;
    padding-left: 20px; }
  .start-quiz:focus {
    box-shadow: 0 0 0;
    border: 0px; }
  .start-quiz #label-photo-txt {
    margin-right: 10px;
    font-weight: 400; }
  .start-quiz .preview {
    margin-left: 10px; }
  .start-quiz .error-border .upload-btn,
  .start-quiz .error-border #quiz-title,
  .start-quiz .error-border #quiz-title:focus {
    box-shadow: 0 0 4px 2px #fa1919; }
  .start-quiz .error-message {
    color: #fa1919;
    font-family: 'Arial-Narrow';
    font-size: 20px;
    text-align: left;
    padding-left: 7px;
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0.1em; }
  .start-quiz .hidden {
    display: none; }
  .start-quiz .success-btn {
    text-align: right;
    justify-content: flex-end; }
  @media screen and (max-width: 575px) {
    .start-quiz {
      font-family: 'dk_lemon_yellow_sunregular';
      margin-bottom: 10px;
      font-size: 20px; }
      .start-quiz #label-photo-txt {
        display: none; } }
  .start-quiz .success-btn, .start-quiz #upload, .start-quiz .form-input-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    height: 60px; }
