.start-quiz {
    font-family: 'dk_lemon_yellow_sunregular';
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 27px;
}

/* title */

.start-quiz .formgroup {
    margin: 0;
    padding: 0;
}

.start-quiz #quizTitle{
    background-color: #00333E;
    border: 0;
    color: #fff;
    line-height: 37px;
    font-size: 27px;
    padding-left: 20px;
}

/* upload */

.start-quiz #file-uploader{
    display: none
}

.start-quiz .upload {
    text-align: left;
    margin-top: 5px;
    padding: 0 30px;
}

.start-quiz .label-photo-txt{
    margin-right: 10px;
    font-weight: 400;
}

 /* buttons */

.start-quiz .circle-btn {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: -11px;
}

.start-quiz .success-btn{
    text-align: right;
    padding: 0 30px;
    margin-top: 5px;
}

@media screen and (max-width: 575px){
    .start-quiz {
        font-family: 'dk_lemon_yellow_sunregular';
        margin-bottom: 10px;
        font-size: 20px;
    }
    
    .start-quiz .circle-btn {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: -12px;
    }
    
    .start-quiz .label-photo-txt{
        display: none;
    }
}