.main-question {
    margin: 0 auto;
    min-height: 200px;
    border: 2px solid rgb(244, 195, 0);
    padding-bottom: 30px;
    position: relative;
}

.container-message {
   background: green;
   text-align: left;
   box-sizing: border-box;
   padding: 5px 7px;
   text-transform: uppercase;
   font-family: 'dk_lemon_yellow_sunregular', sans-serif;
   font-size: 24px;
   background : rgb(244, 195, 0);
   color: rgb(0, 51, 60);
   font-weight: bold;
   letter-spacing: 0.03em;
}

.question-answers {
   padding: 30px 10px 10px 10px;
}

.answers-list {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
}

.question-title {
   background: rgb(0, 51, 60);
   text-transform: uppercase;
   font-size: 20px;
   font-family: 'dk_lemon_yellow_sunregular', sans-serif;
   text-align: left;
   padding: 3px 8px;
}

.question-title .form-control {
   flex: 1;
}


.answers-message {
   width: 20%; 
   font-family: 'dk_lemon_yellow_sunregular', sans-serif;
   font-size: 24px;
   text-align: left;
   padding: 3px 8px;

}
.answers {width: 80%;}


.answers {
   display: flex;
   flex-wrap: wrap;
}

.answer {  
   width: 50%; 
   text-align: left;
   margin-top: 10px;
   padding: 5px 30px 5px 5px;
   display: flex;
   align-items: center;
}

.answer .answer-image {
   width: 100%;
   height: 100%;
   background: white;
   border-radius: 50%;
}

.answer .answer-checkbox {
   width: 25px;
   height: 25px;
   margin-left: 10px;
}

.answer .answer-text {
   flex: 1;
}




.answer-input {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.answer-input .formerror {
   width: 100%;
}
.answer-input .formgroup {
   display: flex;
}
.answer-input .form-control {
   flex: 1;
}
.answer-input .formlabel {
   width: 40px;
   height: 40px;
   margin: 0 10px;
}


@media screen and (max-width: 1125px) {
   .answers-message, .answers {
      width: 100%; 
   }
   .answer {
      padding-right: 20px;
   }
}
@media screen and (max-width: 939px) {
   .answer {
      width: 100%;
   }
}


.answer .form-control {
   background: rgb(0, 51, 60);
   color: white;
   border-color: transparent;
   border-radius: 0;
}

.answer .form-control:focus {
   box-shadow: 0 0 0 0 transparent;
}

.checked-input.form-control, .checked-input.form-control:focus  {
   box-shadow: 0 0 0 3px rgb(29, 167, 36);
}

.question-title {
   display: flex;
   flex-wrap: wrap;
}
.question-title .formlabel {
   margin-right: 10px;
   display: flex;
   align-items: center;
}

.question-title .form-control {
   width: auto;
   outline-color: transparent;
   background-color: transparent;
   box-shadow: 0 0 0 0 transparent;
   border-color: transparent;
   color: white;
   font-size: 20px;
   letter-spacing: 0.04em;
}

.question-title .formerror {
   width: 100%;
}

.main-question .submit-btn {
   width: 50px;
   height: 50px;
   position: absolute;
   right: 0;
   bottom: -70px;
}


.generic-button.cancel-button {
   font-size: 20px;
   font-family: 'dk_lemon_yellow_sunregular', sans-serif;
   padding: 5px 15px;
   background: transparent;
   color: rgb(231, 189, 5);
   border: 1px solid rgb(231, 189, 5);
   position: absolute;
   bottom: -65px;
   right: 100px;
   transition: 0.1s background linear;
}

.generic-button.cancel-button:hover {
   background: rgb(231, 189, 5);
   color: black;
}