.winning-player-item {
   width: 150px;
   height: 300px;
   margin: 40px;
   text-align: center;
   .winning-image {
      width: 80px;
      height: 80px;
      margin: 20px auto;
   }
   .image-container {
      margin: 10px;
      padding: 10px;
      border: 1px solid white;
      .player-photo {
         border-radius: 50%;
         width: 100px;
         height: 100px;
         margin: auto;
      }
      .winning-position {
         display: block;
         font-size: 30px;
         margin-top: 10px;
         color: #f0cc04;
         font-size: 1.8em;
      }
   }
   @media screen and (max-width: 800px) {
      margin: 0;
   }
   @media screen and (max-width: 500px) {
      width: 120px;
      .image-container {
         .player-photo {
            width: 70px;
            height: 70px;
         }
      }
   }
   @media screen and (min-width: 1200px) {
      width: 200px;
      .image-container {
         .player-photo {
            width: 120px;
            height: 120px;
         }
         .winning-position {
            font-size: 2.3em;
         }
      }
      .player-name {
         font-size: 1.4em;
      }
      .winning-image {
         width: 100px;
         height: 100px;
      }
   }

   @media screen and (min-width: 900px) {

   }
}