.login-msg{
    margin: 0 auto 2% auto;
    background-color: #f0cc04;
    height: 1.4em;
    color: #115057;
    font-size: 30px;
    font-weight: 600;
    font-family: 'dk_lemon_yellow_sunregular';
    text-align: center;
    user-select: none;
}

.form-container{
    margin: auto;
    border: 2px solid rgb(93, 185, 197);;
}

.server-message{
    text-align: center;
}

.checkbutton{
    margin-top: 10%;
}
.check-button{
    margin-top: 10%;
}


@media screen and (max-height: 800px){
    .submit-button{
        width:50px;
        height:50px;
	}

}


