.login-form-container {
    .forget-pass {
        font-family: 'dk_lemon_yellow_sunregular';
        color: #f0cc04;
        font-size: 20px;
        text-align: left;
        padding: 0;
        :hover {
            color: white;
        }
    }
    a:visited {
        color: rgb(93, 185, 197);
    }
    .forget-remember {
        margin-top: 20px;
        justify-content: space-between;
    }
    .custom-control {
        text-align: right;
        padding: 0;
    }
    .custom-control-label {
        font-family: 'dk_lemon_yellow_sunregular';
        color: white;
        font-size: 20px;
        text-align: right;
        .checkbox-style {
            display: inline-block;
            margin-left: 20px;
            width: 1em;
            height: 1em;
            border: 1px solid white;
            transition: all 0.1s linear;
            border-radius: 2px;
        }
        input[type="checkbox"] {
            display: none;
        }
        :hover {
            cursor: pointer;
        }
        input[type="checkbox"]:checked~.checkbox-style {
            background: white;
            box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5)
        }
    }
}