.play-game-form .join-button {
  border-radius: 50%;
  border: none;
  width: 100px;
  height: 100px;
  top: 200px;
  background: transparent url("../../../media/joinbutton.png") no-repeat;
  background-size: 100%;
  position: relative;
  margin: 0 auto;
  display: block;
  transition: all 0.2s linear; }

.play-game-form .join-button:hover {
  transform: translateY(3px); }

.play-game-form .join-button:active {
  transform: translateY(5px); }

.play-game-form #upload .preview {
  margin-top: 10px; }

.play-game-form #upload #label-photo-txt {
  margin: 0 auto;
  font-weight: 300;
  color: #5DA9C5;
  font-size: 20px; }

.play-game-form #upload .upload-component {
  text-align: center; }
  .play-game-form #upload .upload-component .upload-btn {
    margin: auto; }

.play-game-form .error-message {
  color: #fa1919;
  font-family: 'Arial-Narrow';
  font-size: 20px;
  text-align: left;
  padding-left: 7px;
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0.1em; }

@media screen and (max-height: 600px) {
  .play-game-form .join-button {
    top: 100px; } }
