.play-game-form {
    .join-button {
        border-radius: 50%;
        border: none;
        width: 100px;
        height: 100px;
        position: fixed;
        background: transparent url("../../../media/joinbutton.png") no-repeat;
        background-size: 100%;
        margin-top: 20px;
        left: 50%;
        transform: translateX(-46%);
        bottom: 60px;
        display: block;
        transition: all 0.2s linear;
    }
    .join-button:hover {
        cursor: pointer
    }
    #upload {
        text-align: center;
        .preview {
            margin-top: 10px;
        }
        #label-photo-txt {
            margin: 0 auto;
            font-weight: 300;
            color: #5DA9C5;
            font-size: 20px;
            display: block;
        }
        .upload-component {
            text-align: center;
            .upload-button {
                margin: auto;
            }
        }
        .error-message {
            text-align: center;
            color: #fa1919;
            font-family: 'Arial-Narrow';
            font-size: 18px;
            padding-left: 7px;
            width: 100%;
        }
        .error-border {
            .upload-button {
                box-shadow: 0 0 4px 2px #fa1919;
            }
        }
    }
    
    @media screen and (max-height: 600px) {
        .join-button {
            top: 100px;
        }
    }
}
