#clock {
  position: relative;
}

#clock img {
  height: 150px;
}

#clock span.clock-hand {
  background: red;
  position: absolute;
  transform-origin: 2px bottom;
  height: 50px;
  left: 50%;
  top: 25px;
  border-radius: 25px;
  width: 6px;
  margin-left: -3px;
  /*this should be half of width */
}

.rotate-animation
{ 
  animation: rotate 20s 1s linear 
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    background: white;
  }
  50% {
    background: white;
  }
  75% {
    background: yellow;
  }
  100% {
    transform: rotate(360deg);
    background: #f54211;
  }
}
