.formgroup{
    position: relative; /*for position:absolute to work*/
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
}

.formlabel{
    margin: 0;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    font-weight: 300;
    color: #5DA9C5;
    transition: all 0.2s linear;
}

.formerror{
    /* position: absolute; */ /*important! otherwise element will take up space when shown
    */
    height: 0; /* alternative, text will align properly to the size */ 
    right: 0;
    color: #FF4500;
    text-align: right;
    font-family: 'Arial Narrow';
    transition: all 0.2s linear;
}

.formgroup .vq-input{
    padding: 4px 3px;
    height: 37px;
    border: 2px solid  #5DA9C5;
    color: #1E1E1E;
    font-size: 18px;
}

.input-error{
    border: 2px solid  #FF9494 !important;
}

@media screen and (max-height: 800px){
    .formlabel{
        font-size: 20px;
    }
    .formerror{
        font-size: 15px;
    }
}
@media screen and (max-height: 600px){
    .formerror{
        font-size: 16px;
    }
}