.formgroup{
    position: relative; /*for position:absolute to work*/
    display: block;
    text-align: left;
    margin-top: 20px;
    font-size: 18px;
}

.formlabel{
    margin: 0;
    font-family: 'dk_lemon_yellow_sunregular';
    font-size: 24px;
    font-weight: 300;
    color: rgb(93, 185, 197);
}

.formerror{
    position: absolute; /*important! otherwise element will take up space when shown*/
    right: 0;
    color: orangered;
    text-align: right;
    font-family: 'Arial Narrow';
}

.formgroup .myinput{
    width: 100%;
    border: 2px solid rgb(93, 185, 197);
    color: black;
}

@media screen and (max-height: 800px){
    .formlabel{
        font-size: 20px;
    }
}