.profile-container{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-container > .home-button {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 0;
}