.profile-container {
  display: flex;
  align-items: center; }
  .profile-container .my-profile-name {
    width: 100%; }
  .profile-container > .home-button {
    display: inline-block;
    width: 100px;
    height: 100px; }
  .profile-container .profile-details {
    display: inline-block;
    flex: 1; }
