figure {
    display: flex;
    align-items: center;
}

.profile-picture{
    width: 80px;
    border-radius: 50%;
    height: 80px;
}

figure > figcaption {
    margin-left: 15px;
    font-size: 40px;
    font-family: 'dk_lemon_yellow_sunregular';
}
