.my-profile-container {
  display: flex;
  align-items: center; }
  .my-profile-container .my-profile-name {
    font-size: 40px;
    font-family: 'dk_lemon_yellow_sunregular'; }
  .my-profile-container .profile-picture {
    width: 100px;
    border-radius: 50%;
    height: 100px; }
  .my-profile-container .profile-message {
    display: inline-block;
    font-family: 'dk_lemon_yellow_sunregular';
    color: #f4c300; }
  .my-profile-container .profile-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 25px; }
