.my-profile-container {
    display: flex;
    align-items: center;

    .my-profile-name {
      font-size: 40px;
      font-family: 'dk_lemon_yellow_sunregular';
    }
    .profile-picture{
        width: 100px;
        border-radius: 50%;
        height: 100px;
    }
    .profile-message{
       display: inline-block;
       font-family: 'dk_lemon_yellow_sunregular';
       color: #f4c300;
    }
    .profile-text {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       font-size: 25px;
    }
}