.player-container.single-player-container {
  max-width: 120px;
  width: auto;
  height: auto;
  margin-bottom: 20px;
  margin-right: 5px; }

.single-player-container .player-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  filter: grayscale(100%) brightness(170%);
  margin-top: 20px;
  margin-left: 20px; }

.single-player-container .player-name {
  position: relative;
  font-size: 20px;
  font-family: 'dk_lemon_yellow_sunregular';
  font-weight: bold;
  text-align: center;
  color: #f0cc04; }

.single-player-container .photo {
  border-radius: 50%;
  width: 85px;
  height: 85px; }

@media screen and (max-width: 800px) {
  .single-player-container .player-photo {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-left: auto; }
  .single-player-container .player-name {
    font-size: 20px; }
  .single-player-container .player-container {
    max-width: 90px;
    margin-bottom: 20px; }
  .single-player-container .photo {
    width: 80px;
    height: 80px; } }

@media screen and (max-width: 500px) {
  .single-player-container .player-photo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: auto; }
  .single-player-container .player-name {
    font-size: 10px; }
  .single-player-container .player-container {
    max-width: 60px;
    margin-bottom: 20px; }
  .single-player-container .photo {
    width: 50px;
    height: 50px; } }

@media screen and (max-width: 400px) {
  .single-player-container .player-photo {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto; }
  .single-player-container .player-name {
    font-size: 10px; }
  .single-player-container .player-container {
    max-width: 48px;
    margin-bottom: 20px; }
  .single-player-container .photo {
    width: 50px;
    height: 50px; } }

@media screen and (max-width: 330px) {
  .single-player-container .player-photo {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: auto; }
  .single-player-container .player-name {
    font-size: 10px; }
  .single-player-container .player-container {
    max-width: 48px;
    margin-bottom: 20px; }
  .single-player-container .photo {
    width: 40px;
    height: 40px; } }
