figure {
    display: inline-block;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
    width: 200px;
    height: 200px;
}

.user-photo{
    border-radius: 50%;
    border: 4px solid #ffffff ;
    width: 80%;
    height: 80%;
    filter: grayscale(70%) brightness(170%);
    vertical-align: top;
}

figure > figcaption {
    margin-top: 4px;
    margin-right: 12px;
    position: relative;
    font-size: 20px;
    font-family: 'dk_lemon_yellow_sunregular';
    font-weight: bold;
    text-align: center;
    color: #f0cc04;
}