@font-face {
    font-family: 'dk_lemon_yellow_sunregular';
    src: url('dk_lemon_yellow_sun.woff2') format('woff2'),
         url('dk_lemon_yellow_sun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('ARIALN.TTF') format('ttf');
}
